
body {
    background-image: url(../templates/img/ricepaper_v3.png); /*  This pattern is downloaded from www.subtlepatterns.com */
    font-family: 'Times New Roman', Times, serif;
}

span {
    font-size: 50px;
}

#container {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #00ddff;
    border-radius: 10px;
}

header {
    text-align: center;
    width: 980px;
    height: 180px;
    padding: 10px;
}

#logo {
    text-shadow: 0px 0px 5px #b6ff00;
}

#description {
    font-size: 16px;
    letter-spacing: 3px;
}

#parameters {
    width: 280px;
    height: 580px;
    float: left;
    padding: 10px;
    padding-top: 8px;
    border-top: 2px solid #b6ff00;
}

button {
    margin-top: 10px;
}

button:hover {
    background-color: #b6ff00;
    border-radius: 5px;
}

#loremIpsumResult {
    width: 678px;
    height: 578px;
    float: left;
    padding: 10px;
    border-left: 2px solid #b6ff00;
    border-bottom: 2px solid #b6ff00;
    border-radius: 0px 0px 10px 0px;
}