
body {
  background: lightblue;
  font-family: 'Lato', sans-serif;
}
h1 {
  background-color: lightblue;
  font-family: 'Lato', sans-serif;
}


p {
  font-family: 'Lato', sans-serif;
}

form {
  background: #eeeeee;
  font-family: 'Lato', sans-serif;
}
