<!DOCTYPE html>
<html lang=pl xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Generator "Lorem Ipsum"</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel="stylesheet" th:href="@{/master.css}" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato');
    </style>
</head>

<body>

<header>
    <h1 style="padding: 10px;" > Generator Lorem Ipsum </h1>
</header>
<p style="padding: 10px; color: darkgrey">Niniejszy generator służy do generowanie teksu "Lorem Ipsum", czyli
    wypełniacze dla pustych stron i artykułów.</p>

<form>
    <h3>Co potrzebujesz wygenerować:</h3>
    <input max="50" min="1" name="quantity" type="number" value="1">
    <select name="type">
        <option value="paragraphs">paragraphs</option>
        <option value="sentence">sentence</option>
        <option value="words">words</option>
    </select>
    <button name="submit">Generuj</button>
</form>


<h3>Produkt końcowy:</h3>


<p th:utext="${paragraph}"/>

</body>
</html>