<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generator "Lorem Ipsum"</title>
    <link href="master.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>

<h1>Generator Lorem Ipsum</h1>

    <form>
        <label>Co chcesz wygenerować:</label><br/>
        <input max="50" min="1" name="quantity" type="number" value="1">
        <select name="type">
            <option value="paragraphs">paragraphs</option>
            <option value="sentence">sentence</option>
            <option value="words">words</option>
        </select><br/>
        <button name="submit">Generuj</button>
        <!-- <input type="button" value="Generuj"> -->
    </form>


<h3>Paragrafy</h3>


<p th:utext="${paragraph}"/>

</body>
</html>
