<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
</head>
<body>

<h1>Generator Lorem Ipsum</h1>

    <form>
        <label>Liczba paragrafów:</label>
        <input type="number" value="1" min="1" max="10" name="parNumber">
        <input type="submit" value="Generuj">
    </form>

<h3>Paragrafy</h3>

<ul> <!-- foreach dla thymeleaf -->
    <li th:each="lorem: ${lorem}" th:text="${lorem}"/>
</ul>

<h1 th:text="${lorem}"/>

</body>
</html>